@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --bg: #FFFCF8;
  --text: #052520;
  --primary: #F39BB2;
  --secondary: #FCD97B;
  --accent: #89D2C1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  background: var(--bg);
  color: var(--text);
}

[data-theme="dark"] {
  --bg: #222;
  --text: #fff;
  --primary:   #FFB4CA;
  --secondary: #FFE19B;
  --accent:    #A9E3D4;
}

img, svg {
  max-width: 100%;
  display: block;
}

::selection {
  background: var(--primary);
  color: #fff;
}