.main-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
}

.layout {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background: var(--body-color);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem 2rem;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .layout {
    flex-direction: column;
  }
  .main-content {
    padding: 3.25rem 0.5rem;
  }
}

@media (max-width: 600px) {
  .main-content {
    padding: 3rem 0.5rem;
  }
}